[submodule "dep/SDL"]
	path = dep/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "dep/GLM"]
	path = dep/GLM
	url = https://github.com/g-truc/glm.git
[submodule "dep/assimp"]
	path = dep/assimp
	url = https://github.com/assimp/assimp.git
[submodule "dep/imgui"]
	path = dep/imgui
	url = https://github.com/ocornut/imgui.git
